extends layout.pug 

block content 
  div.container
    h1.intro-msg This app will allow clients to create, delete and update their personal information.
    a.featured(href='/create') Submit your personal details 

    footer.footer 
    p “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”
