doctype html
html(lang="en")
    head
      title Ordering App
      link(rel='stylesheet' href='/static/styles.css')

    body 
      header.navbar 
        h1 
          a(href='/') Ordering app

        nav.nav 
          a(href='/notes') All clients 
          a(href='/archive') Archive 
          
      block content 

